.project-item {
  background-color: #f5f5f5;
  padding: 1.5rem;
  margin: 1rem;
  border-left: 5px solid #005e66;
  box-sizing: border-box;
  width: 80%;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.project-icon {
  font-size: 1.5rem;
  color: #005e66;
  transition: color 0.3s;
}

.project-icon:hover {
  color: #ff6347;
}

.project-name {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.project-description,
.project-languages {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.see-more-link {
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

.see-more-link:hover {
  color: #0056b3;
}

.icon-container {
  position: relative;
}

.project-icon {
  font-size: 24px;
  cursor: pointer;
}

.icon-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap; /* Prevent tooltip text from wrapping */
  opacity: 0.9;
  z-index: 10;
}

.icon-container:hover .icon-tooltip {
  display: block;
}

.icon-tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Bottom of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
