.contact-form {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #1e1e1e;
  border-radius: 12px;
  margin: 5rem auto;
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.row .form-group {
  flex: 1;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px 0px;
  background-color: #1e1e1e;
  border: none;
  border-bottom: 2px dotted #444;
  color: white;
  outline: none;
}

.row .form-group:not(:first-child) {
  padding-left: 16px; /* space after border */
  margin-left: 8px; /* optional spacing between inputs */
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom: 2px dotted white;
}

button {
  align-self: start;
  padding: 12px 12px;
  background-color: #d1d5db;
  color: #000;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #c1c5cc;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

@media (max-width: 1000px) {
  .contact-form {
    margin: auto 2rem;
  }
  .row {
    flex-direction: column;
  }
  .row .form-group:not(:first-child) {
    padding-left: 0px;
    margin-left: 0px;
  }
}
